@using OcenaPracowniczaLys.Models
@using OcenaPracowniczaLys.Services
@inject IDepartmentService DepartmentService
@inject IToastService Toast


<EditForm Model="@_request" OnValidSubmit="HandleAddMainDepartment" FormName="UserChangePasswordForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <span class="mt-2">
        <label class="form-label" for="name">Nazwa</label>
        <InputText class="form-control" id="name" @bind-Value="_request.Name"/>
    </span>
    <button class="btn btn-primary mt-3" type="submit">Dodaj</button>
</EditForm>
@code {
    [Parameter] public EventCallback OnPopupSubmit { get; set; }
    private AddMainDepartmentRequest _request = new AddMainDepartmentRequest();

    private async Task HandleAddMainDepartment(EditContext arg)
    {
        OperationResult result = await DepartmentService.AddMainDepartmentAsync(_request);

        if (result.IsSuccess())
        {
            Toast.ShowSuccess(result.Message);
            await OnPopupSubmit.InvokeAsync();
        }
        else
        {
            Toast.ShowError(result.Message);
        }
    }

}