@using System.ComponentModel.DataAnnotations
@using Microsoft.IdentityModel.Tokens
@using OcenaPracowniczaLys.Data
@using OcenaPracowniczaLys.Models
@using OcenaPracowniczaLys.Services
@inject IDepartmentService DepartmentService
@inject IUserService UserService
@inject IToastService Toast

<EditForm Model="@_request" OnValidSubmit="HandleCreateDepartment" FormName="UserChangePasswordForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <span class="mt-2">
        <label class="form-label" for="name">Nazwa</label>
        <InputText class="form-control" id="name" @bind-Value="_request.Name"/>
    </span>
    <div class="mb-3">
        <label class="form-label" for="role">Wybierz Kierownika</label>
        <InputSelect id="role" class="form-select" @bind-Value="@_request.ManagerId">
            @if (_users.IsNullOrEmpty())
            {
                <option value="-1">Błąd połączenia z bazą danych</option>
            }
            else
            {
                <option value="-1">Wybierz Kierownika</option>
                @foreach (var u in _users.Where(u=>u.Enabled))
                {
                    <option value="@u.UserId">@u.FullName</option>
                }
            }
        </InputSelect>
    </div>

    <button class="btn btn-primary mt-3" type="submit">Dodaj</button>
</EditForm>
@code {
    [Parameter] public EventCallback OnPopupSubmit { get; set; }

    public class ChangeManagerModel
    {
        [Required(ErrorMessage = "Pole jest wymagane")]
        public int ManagerId { get; set; } = -1;
    }
    private CreateDepartmentRequest _request = new CreateDepartmentRequest();
    private List<User> _users = [];

    protected override async Task OnInitializedAsync()
    {
        _users = await UserService.GetAllUsersAsync();
    }

    private async Task HandleCreateDepartment(EditContext arg)
    {
        OperationResult result = await DepartmentService.CreateDepartmentAsync(_request);

        if (result.IsSuccess())
        {
            Toast.ShowSuccess(result.Message);
            await OnPopupSubmit.InvokeAsync();
        }
        else
        {
            Toast.ShowError(result.Message);
        }

        _request = new CreateDepartmentRequest();
    }

}