@page "/admin-panel"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "admin")]

<div class="container min-vh-100 d-flex">
    <div class="row w-100">
        <div class="col-md-6">
        1
        </div>
        <div class="col-md-6">
        2
        </div>
    </div>
</div>


@code {
    
}