@page "/admin-panel"
@using Blazored.Modal.Services
@using Microsoft.AspNetCore.Authorization
@using OcenaPracowniczaLys.Data
@using OcenaPracowniczaLys.Services
@using OcenaPracowniczaLys.Components.AdminTables
@attribute [Authorize(Roles = "admin")]
@inject IUserService UserService
@inject IDepartmentService DepartmentService
@inject IQuestionService QuestionService


<div class="container min-vh-100 d-flex">
    <div class="row w-100">
        <div class="col-md-12">
            <UserTable Users="@_users"/>
            <DepartmentTable Departments="@_departments"></DepartmentTable>
            <QuestionTable Questions="@_questions"></QuestionTable>
            <MainDepartmentTable MainDepartments="@_mainDepartments"></MainDepartmentTable>
        </div>
    </div>
</div>


@code {
    private List<User> _users = [];
    private List<Department> _departments = [];
    private List<MainDepartment> _mainDepartments = [];
    private List<Question> _questions = [];
    [CascadingParameter] public IModalService Modal { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _users = await UserService.GetAllUsersAsync();
        _departments = await DepartmentService.GetAllDepartmentsAsync();
        _mainDepartments = await DepartmentService.GetAllMainDepartmentsAsync();
        _questions = await QuestionService.GetQuestionsAsync();
    }
}