@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Główna</PageTitle>

<h1>Witaj w ocenie pracowniczej firmy Łysoń!</h1>

Tu znajdzie się instrukcja oceny pracowniczej, do czego ona służy itp

<AuthorizeView Roles="admin">
    <Authorized>
        Test
    </Authorized>
    <NotAuthorized>
        nie ma
    </NotAuthorized>
</AuthorizeView>
