@page "/login"
@rendermode InteractiveServer
@using OcenaPracowniczaLys.AuthenticationProvider
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IToastService Toast

<div id="main-container">
    <EditForm Model="@_loginRequest" OnValidSubmit="HandleLogin" FormName="UserLoginForm">
        <label for="login">Login</label>
        <InputText id="login" @bind-Value="_loginRequest.Login"/>

        <label for="password">Hasło</label>
        <InputText id="password" @bind-Value="_loginRequest.Password" type="password"/>
        

        <button type="submit">Login</button>
    </EditForm>
</div>

@code {

    private AppLoginRequest _loginRequest = new AppLoginRequest();
    private string _status = "";
    private bool _isProcessing = false;

    private async Task HandleLogin()
    {
        if (_isProcessing) return;

        try
        {
            _isProcessing = true;
            var appAuthStateProvider = (AppAuthStateProvider)AuthenticationStateProvider;
            var token = await appAuthStateProvider.Login(_loginRequest);
            Toast.ShowSuccess("Zalogowano poprawnie!");
            NavigationManager.NavigateTo($"/postlogin?token={token}", forceLoad: true);

        }
        catch (Exception ex)
        {
            Toast.ShowError("Nieprawidłowe dane logowania");
        }
        finally
        {
            _isProcessing = false;
        }
    }
    
    

}