@page "/users"
@using OcenaPracowniczaLys.Data
@using OcenaPracowniczaLys.Services
@inject IUserService UserService


<h3>Lista Testowa</h3>
<ul>
    @foreach (var user in UsersList)
    {
        <li>@user.Login</li>
    }
</ul>
@code{
    private List<User> UsersList = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        UsersList = await UserService.GetAllUsersAsync();
    }
    
    
}